<launch>
  <arg name="model" />
  <param name="robot_description"
    textfile="$(find cobod_arm_study)/urdf/cobod_arm.urdf" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cobod_arm_study)/rviz/config_file_cobod.rviz" />
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->

  <param name="errorIK_min" type="double" value="0.005" />
  <param name="errorIK_max" type="double" value="0.1" />

  <param name="timeIK" type="double" value="0.05" />
  <param name="robot_name" type="string" value="cobod_arm" />
  <node pkg="cobod_arm_study" name="cobod_arm_study" type="cobod_arm_study" output="screen"/>
    
</launch>
